body {
  background-color: mistyrose;
  color: darkcyan;
}

h1, h2 {
  color: firebrick;
  font-size: 20px;
}

h3 {
  color: purple;
}

hr {
  border: 5px solid yellow;
}

span {
  color: blue;
  font-size: 40px;
}

.hello {
  font-weight: bold;
  font-style: italic;
}

#name {
  font-size: 12px;
  color: brown;
}