* {
  font-size: 19px;
}

body {
  background-color: mistyrose;
  color: darkcyan;
}

h1, h2 {
  color: firebrick;
  font-size: 20px;
}

h3 {
  color: purple;
}

hr {
  border: 5px solid yellow;
}

span {
  color: blue;
  font-size: 40px;
}

/* p.hello로 작성가능 - p태그 중 class 속성에 hello가 적힌 태그 */
.hello {
  font-weight: bold;
  font-style: italic;
}

/* p#name로 작성가능 - p태그 중 id 속성에 name이 적힌 태그 */
#name {
  font-size: 12px;
  color: brown;
}

.hoverP:hover {
  color: red;
}

.focusInput:focus {
  background-color: yellow;
}

.activeA:active {
  background-color: blue;
}

.visitedA:visited {
  background-color: yellow;
}

.linkA:link {
  background-color: red;
}

.pseudo li:first-child {
  background-color:yellow;
}

.pseudo li:nth-child(2n) {
  color: orange;
}

.pseudo li:last-child {
  background-color:green;
}