.wrap p:first-child {
 cursor: crosshair;
}

.wrap p:nth-child(2) {
  cursor: help;
}

.wrap p:nth-child(3) {
  cursor: pointer;
}

.wrap p:nth-child(4) {
  cursor: progress;
}

.wrap p:nth-child(5) {
  cursor: n-resize;
}

.wrap p:nth-child(6) {
  cursor: e-resize;
}

.wrap p:nth-child(7) {
  cursor: ne-resize;
}

.wrap p:nth-child(8) {
  cursor: move;
}

.wrap p:nth-child(9) {
  cursor: copy;
}

.wrap p:nth-child(10) {
  cursor: zoom-in;
}

.wrap p:nth-child(11) {
  cursor: zoom-out;
}

.wrap p:nth-child(12) {
  cursor: wait;
}