.indent {
  padding: 0 50px;
  border: 1px solid #222222;
}

.indent p:first-child {
  text-indent: 3em;
}

.indent p:last-child {
  text-indent: -3em;
}

.align {
  width: 400px;
}

.align p.left {
  text-align: left;
}

.align p.right {
  text-align: right;
}

.align p.center {
  text-align: center;
}

.align p.justify {
  text-align: justify;
}

.decoration p:first-child {
  text-decoration: underline;
  /* text-decoration: none; 값을 없앤다 */
}

.decoration p:nth-child(2) {
  text-decoration: overline;
}

.decoration p:last-child {
  text-decoration: line-through;
}

.family p:first-child {
  font-family: serif;
}

.family p:nth-child(2) {
  font-family: sans-serif;
}

.family p:last-child {
  font-family: monospace;
}

.ex {
  border: 1px solid #222;
  padding: 10px;
}

.size .px {
  font-size: 20px;
}

.size .em {
  font-size: 1.5em;
}

.size .medium {
  font-size: medium;
}

.size .xx-small {
  font-size: xx-small;
}

.size .x-small {
  font-size: x-small;
}

.size .small {
  font-size: small;
}

.size .smaller {
  font-size: smaller;
}

.size .large {
  font-size: large;
}

.size .x-large {
  font-size: x-large;
}

.size .xx-large {
  font-size: xx-large;
}

.size .larger {
  font-size: larger;
}

.style p:first-child {
  font-style: normal;
}

.style p:nth-child(2) {
  font-style: italic;
}

.style p:last-child {
  font-style: oblique;
}

.weight p:first-child {
  font-weight: 100;
}

.weight p:nth-child(2) {
  font-weight: 200;
}

.weight p:nth-child(3) {
  font-weight: 300;
}

.weight p:nth-child(4) {
  font-weight: 400;
}

.weight p:nth-child(5) {
  font-weight: 500;
}

.weight p:nth-child(6) {
  font-weight: 600;
}

.weight p:nth-child(7) {
  font-weight: 700;
}

.weight p:nth-child(8) {
  font-weight: 800;
}

.weight p:last-child {
  font-weight: 900;
}

.height p {
  border: 1px solid #eee;
}

.height p:first-child {
  line-height: 30px;
}

.height p:nth-child(2) {
  line-height: 100px;
}

.height p:last-child {
  line-height: 200px;
}

.Lspacing {
  letter-spacing: 30px;
}

.Wspacing {
word-spacing: 30px;
}

.shadow p:first-child {
  text-shadow: 2px 2px 2px gray;;
}

.shadow p:nth-child(2) {
  text-shadow: 4px 3px 4px gray;;
}

.shadow p:last-child {
  text-shadow: 6px 7px 7px gray;;
}